@charset "utf-8";
/* CSS Document */
.*{padding:0;margin:0;}
.main{    padding: 0;}
.wrap-sp{    margin-left: auto;
    margin-right: auto;
    width: 1160px;}
.mod-bottom{clear: both;/*左右两侧不允许浮动元素*/}
.bread-nav a{color:#000;font-size:16px;}
.bread-nav a:visited {color:#000;text-decoration: none;}
.bread-nav a:link{text-decoration: none;}
.bread-nav {padding:5px 0;}
.Xdetail{width:100%;height:auto;}
.left-detail{width:200px;height:auto;padding:5px 5px;margin-right:20px;border:1px solid #e3e3e3;}
.right-detail{width:790px;}
.adetail{float:left;}
	
	
	
	
	
	
	
	
	
	